@using Web_dienthoai.Models;
@model DetailsView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Image.css" />

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="slideshow-container">
                @foreach (var item in Model.HinhSP)
                {
                    <div class="mySlides fade">
                        <img src="~/Images/Phones/@item.MaHinh" style="width: 100%; height: 500px;">
                    </div>
                }
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <p class="price" style="text-align: center;">
                <span style="font-size: 20px; padding: 5px;  ">Giá bán: <b style="font-size:30px;color:red"> @String.Format("{0:0,0}", @Model.ChiTietSP.Gia)</b> <i style="font-size:20px;font-weight:bold;color:red">VND</i></span>
            </p>
            <div style="display:flex">
                <a class="btn " style="margin: 0px auto; height: 40px; width: 200px; color:white; font-weight: bold; text-align: center; background-color: #FF4A4A " href="@Url.Action("ThemSP", "GioHang", new { MaSP = Model.SanPham.MaSP })"> Đặt mua </a>
            </div>
            <br />
            <hr />
            <div style="padding-left: 0px; padding-right: 0px;">
                <h3 style="  text-align: center; ">Mô Tả</h3>
                <p style="  padding-left: 0px; padding-right: 0px; text-align: justify ">
                    <span style=" font-weight: bold; text-align: center; color: #6FEDD6 ;font-size:30px ">@Model.SanPham.TenSP :</span> @Model.SanPham.MoTaSP
                </p>
                <hr />


            </div>
            @*binhluan*@

            <div style="border-radius: 5px; margin: 20px 10px ;padding:10px" @*class="w-50 "*@>
                <h3 style="text-align:center" class="">Đánh giá Điện thoại @Model.SanPham.TenSP  </h3>
                

                <div style="text-align:center">

                    @Html.ActionLink("Viết bình luận", "BinhLuanKH", "PhoneStore", null, new { @class = "btn btn-secondary" })
                </div><br />
                <p style="text-align:center">@ViewBag.thongbao</p>
                @foreach (var item in Model.BinhLuan)
                {
                    <p><b>@item.HoTen</b> | @item.ThoiGian</p>
                    if (item.Anh != "display:none")
                    {
                        <img class="w-25" style="@item." src="~/Images/BinhLuan/@item.Anh" alt="Lỗi Hình"><br /><br />
                    }

                    <p>@item.Chiase</p>
                    <hr />
                }


            </div>


        </div>
        <div class="col-md-6">
            <h3 style="background-color: #FF9551; text-align: center ">THÔNG SỐ KỸ THUẬT:</h3>
            <table class="table">

                <tr>
                    <th>Mã sản phẩm: </th>
                    <td>@Model.SanPham.MaSP</td>

                </tr>
                <tr>
                    <th>Công nghệ màn hình: </th>
                    <td>@Model.TSKTSP.CongNgheManHinh</td>
                </tr>
                <tr>
                    <th>Độ phân giải: </th>
                    <td>@Model.TSKTSP.DoPhanGiai</td>

                </tr>
                <tr>
                    <th>Độ rộng màn hình: </th>
                    <td>@Model.TSKTSP.ManHinhrong</td>
                </tr>
                <tr>
                    <th>Mặt kính cảm ứng: </th>
                    <td>@Model.TSKTSP.MatKinhCamUng</td>

                </tr>
                <tr>
                    <th>Độ phân giải Camera sau: </th>
                    <td>@Model.TSKTSP.DoPhanGiaiCamS</td>
                </tr>
                <tr>
                    <th>Chất lượng hình ảnh: </th>
                    <td>@Model.TSKTSP.QuayPhim</td>

                </tr>
                <tr>
                    <th>Flash: </th>
                    <td>@Model.TSKTSP.Flash</td>
                </tr>
                <tr>
                    <th>Tính năng Camera sau: </th>
                    <td>@Model.TSKTSP.TinhNangCamS</td>

                </tr>
                <tr>
                    <th>Độ phân giải Camera trước: </th>
                    <td>@Model.TSKTSP.DoPhanGiaiCamT</td>
                </tr>
                <tr>
                    <th>Tính năng Camera trước: </th>
                    <td>@Model.TSKTSP.TinhNangCamT</td>

                </tr>
                <tr>
                    <th>Hệ điều hành: </th>
                    <td>@Model.TSKTSP.HeDieuHanh</td>
                </tr>
                <tr>
                    <th>CPU: </th>
                    <td>@Model.TSKTSP.CPU</td>

                </tr>
                <tr>
                    <th>Tốc độ CPU: </th>
                    <td>@Model.TSKTSP.TocDoCPU</td>
                </tr>
                <tr>
                    <th>GPU: </th>
                    <td>@Model.TSKTSP.GPU</td>

                </tr>
                <tr>
                    <th>RAM: </th>
                    <td>@Model.TSKTSP.RAM</td>
                </tr>
                <tr>
                    <th>Dung lượng: </th>
                    <td>@Model.TSKTSP.DungLuong</td>

                </tr>
                <tr>
                    <th>Dung lượng con: </th>
                    <td>@Model.TSKTSP.DungLuongCon</td>
                </tr>
                <tr>
                    <th>Danh bạ: </th>
                    <td>@Model.TSKTSP.DanhBa</td>

                </tr>
                <tr>
                    <th>Mạng: </th>
                    <td>@Model.TSKTSP.Mang</td>
                </tr>
                <tr>
                    <th>Sim: </th>
                    <td>@Model.TSKTSP.Sim</td>

                </tr>
                <tr>
                    <th>Wifi: </th>
                    <td>@Model.TSKTSP.Wifi</td>
                </tr>
                <tr>
                    <th>GPS: </th>
                    <td>@Model.TSKTSP.GPS</td>

                </tr>
                <tr>
                    <th>Bluetooh: </th>
                    <td>@Model.TSKTSP.Bluetooth</td>
                </tr>
                <tr>
                    <th>Cổng sạc: </th>
                    <td>@Model.TSKTSP.Sac</td>

                </tr>
                <tr>
                    <th>Jack: </th>
                    <td>@Model.TSKTSP.Jack</td>
                </tr>
                <tr>
                    <th>Kết nối khác: </th>
                    <td>@Model.TSKTSP.KetNoiKhac</td>

                </tr>
                <tr>
                    <th>Dung lượng pin: </th>
                    <td>@Model.TSKTSP.DungLuongPin</td>
                </tr>
                <tr>
                    <th>Loại pin: </th>
                    <td>@Model.TSKTSP.LoaiPin</td>

                </tr>
                <tr>
                    <th>Sạc tối đa: </th>
                    <td>@Model.TSKTSP.SacToiDa</td>
                </tr>
                <tr>
                    <th>Công nghệ Pin: </th>
                    <td>@Model.TSKTSP.CongNghePin</td>

                </tr>
                <tr>
                    <th>Bảo mật nâng cao: </th>
                    <td>@Model.TSKTSP.BaoMatNC</td>
                </tr>

                <tr>
                    <th>Tính năng danh bạ: </th>
                    <td>@Model.TSKTSP.TinhNangDB</td>

                </tr>
                <tr>
                    <th>Kháng nước bụi: </th>
                    <td>@Model.TSKTSP.KhangNuocBui</td>
                </tr>
                <tr>
                    <th>Xem phim: </th>
                    <td>@Model.TSKTSP.XemPhim</td>

                </tr>
                <tr>
                    <th>Nghe nhạc: </th>
                    <td> @Model.TSKTSP.NgheNhac</td>
                </tr>
                <tr>
                    <th>Thiết kế: </th>
                    <td>@Model.TSKTSP.ThietKe</td>

                </tr>
                <tr>
                    <th>Chất liệu: </th>
                    <td>@Model.TSKTSP.ChatLieu</td>
                </tr>
                <tr>
                    <th>Kích thước: </th>
                    <td>@Model.TSKTSP.KichThuoc</td>

                </tr>
                <tr>
                    <th>Thời điểm ra mắt: </th>
                    <td>@Model.TSKTSP.ThoiDiemRaMat</td>
                </tr>

            </table>
        </div>
    </div>
</div>

<hr class="" />



<script>
    let slideIndex = 0;
    let slideInterval;

    function startSlideShow() {
        slideInterval = setInterval(showSlides, 2000);
    }

    function stopSlideShow() {
        clearInterval(slideInterval);
    }

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

    }

    startSlideShow();

</script>