@using Web_dienthoai.Models;
@model IEnumerable<ProductView>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Image.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">


@*Iphone*@
<h3 class="align: text-center" style="color: white; font-weight: bold;">iPhone</h3>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Where(id => id.SanPham.MaTH == "IP"))
    {
        <div class="col">
            <div class="card">
                <a href="@Url.Action("Details", "PhoneStore", new { id = item.SanPham.MaSP })">
                    <img class="card-img-top my-image"
                         src="~/Images/Phones/@item.HinhSP.MaHinh" alt="Card image">
                </a>
                <div class="card-body ">
                    <h4 class="card-title" style="text-align: center;">@item.SanPham.TenSP</h4>
                    <p class="card-text" style="text-align: center;">@item.SanPham.MaSP</p>

                </div>
            </div>
        </div>
    }
</div>


<hr />
<br />

@*Samsung*@
<h3 class="align: text-center" style="color: white; font-weight: bold;">Samsung</h3>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Where(id => id.SanPham.MaTH == "SS"))
    {
        <div class="col">
            <div class="card">
                <a href="@Url.Action("Details", "PhoneStore", new { id = item.SanPham.MaSP })">
                    <img class="card-img-top my-image"
                         src="~/Images/Phones/@item.HinhSP.MaHinh" alt="Card image">
                </a>
                <div class="card-body ">
                    <h4 class="card-title style=" text-align: center;"">@item.SanPham.TenSP</h4>
                    <p class="card-text" style="text-align: center;">@item.SanPham.MaSP</p>

                </div>
            </div>
        </div>
    }
</div>


<hr />
<br />

@*Xiaomi*@
<h3 class="align: text-center" style="color: white; font-weight: bold;">Huawei</h3>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Where(id => id.SanPham.MaTH == "HW"))
    {
        <div class="col">
            <div class="card">
                <a href="@Url.Action("Details", "PhoneStore", new { id = item.SanPham.MaSP })">
                    <img class="card-img-top my-image"
                         src="~/Images/Phones/@item.HinhSP.MaHinh" alt="Card image">
                </a>
                <div class="card-body ">
                    <h4 class="card-title" style="text-align: center;">@item.SanPham.TenSP</h4>
                    <p class="card-text" style="text-align: center;">@item.SanPham.MaSP</p>

                </div>
            </div>
        </div>
    }
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="margin-top: 10px;">
    <!-- Section: Social media -->
    <!-- Left -->
    <!-- Left -->
    <!-- Right -->
    @* <div>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>*@
    <!-- Right -->
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <hr />
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Thương hiệu DigitalWave
                    </h6>
                    <p>
                        DigitalWave là một cái tên thương hiệu đầy mạnh mẽ và năng động trong lĩnh vực bán điện thoại. Tên gọi này kết hợp giữa từ "digital" - mang ý nghĩa về công nghệ số và "wave" - biểu tượng cho sự phát triển và lan tỏa. Với sự kết hợp này, DigitalWave như muốn truyền tải thông điệp rằng họ là một cửa hàng bán điện thoại hiện đại, luôn cập nhật và tiên tiến về công nghệ.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sản phẩm
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Huawei</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Iphone</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Oppo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Realme</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Samsung</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vivo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Xiaomi</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Link hữu ích
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Bảo hành</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Bản quyền</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Phân phối</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Trợ giúp</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="bi bi-geo-alt"></i> 828 Sư Vạn Hạnh, Quận 10, Hồ Chí Minh</p>
                    <p>
                        <i class="bi bi-envelope"></i>
                        digitalwave@gmail.com
                    </p>

                    <p><i class="bi bi-telephone"></i> +84 835 911 358</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">digitalwave.org</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
