@model Web_dienthoai.Models.DonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center;color:white">CHỈNH SỬA ĐƠN HÀNG</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="color:white">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaDH)

            <div class="form-group">
                MÃ KHÁCH HÀNG
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                TÊN NGƯỜI NHẬN
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                SĐT
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDTnhan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDTnhan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                ĐỊA CHỈ
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChiNhan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChiNhan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                GIÁ
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TriGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TriGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                TÌNH TRẠNG
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                NGÀY ĐẶT HÀNG
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayDH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayDH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                HÌNH THỨC THANH TOÁN
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HTThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HTThanhToan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                HÌNH THỨC GIAO HÀNG
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HTGiaohang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HTGiaohang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                TỔNG TIỀN
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>