@model MVCbuoi4.Models.Products

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Delete</h2>

<h3>Banj muon xoa san pham nay?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ten San Pham
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>
            Mo ta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecriptionPro)
        </dd>

        <dt>
            Gia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Hinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePro)
        </dd>

        <dt>
            Loai San Pham
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.NameCate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
