@model MVCbuoi4.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT SẢN PHẨM</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Ten san pham
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NamePro)
            </dd>

            <dt>
               Mo ta
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DecriptionPro)
            </dd>

            <dt>
                Gia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                Hinh anh
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.ImagePro)*@
                <img src="~/Images/@Model.ImagePro" style="width:180px;height:150px" />
            </dd>

            <dt>
                Category
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category1.NameCate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>