@using Web_dienthoai.Models;
@model ProductView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css"/>

<br />
<h2 style="text-align:center;">CHI TIẾT SẢN PHẨM</h2>
<br />
<hr />

<div class="row">
    <div class="offset-md-1 col-md-4">
        <img style="width:100%;" src="~/Images/Phones/@Model.HinhSP.MaHinh" alt=""/>
    </div>
    <div class="col-md-6 details">
        <h3>@Model.SanPham.TenSP</h3>
        <p style="text-align:justify">
            <span style="font-weight:bold">Mô tả:</span> @Model.SanPham.MoTaSP
        </p>
        <hr />
        <h4>THÔNG SỐ KỸ THUẬT:</h4>

        <div class="col-md-6">
            <p>Mã sản phẩm: @Model.SanPham.MaSP</p>
            <p>Công nghệ màn hình: @Model.TSKTSP.CongNgheManHinh</p>
            <p>Độ phân giải: @Model.TSKTSP.DoPhanGiai</p>
            <p>Độ rộng màn hình: @Model.TSKTSP.ManHinhrong</p>
            <p>Mặt kính cảm ứng: @Model.TSKTSP.MatKinhCamUng</p>
            <p>Độ phân giải Camera sau: @Model.TSKTSP.DoPhanGiaiCamS</p>
            <p>Chất lượng hình ảnh: @Model.TSKTSP.QuayPhim</p>
            <p>Flash: @Model.TSKTSP.Flash</p>
            <p>Tính năng Camera sau: @Model.TSKTSP.TinhNangCamS</p>
            <p>Độ phân giải Camera trước: @Model.TSKTSP.DoPhanGiaiCamT</p>
            <p>Tính năng Camera trước: @Model.TSKTSP.TinhNangCamT</p>
            <p>Hệ điều hành: @Model.TSKTSP.HeDieuHanh</p>
            <p>CPU: @Model.TSKTSP.CPU</p>
            <p>Tốc độ CPU: @Model.TSKTSP.TocDoCPU</p>
            <p>GPU: @Model.TSKTSP.GPU</p>
            <p>RAM: @Model.TSKTSP.RAM</p>
            <p>Dung lượng: @Model.TSKTSP.DungLuong</p>
            <p>Dung lượng con: @Model.TSKTSP.DungLuongCon</p>
            <p>Danh bạ: @Model.TSKTSP.DanhBa</p>
            <p>Mạng: @Model.TSKTSP.Mang</p>
            <p>Sim: @Model.TSKTSP.Sim</p>
            <p>Wifi: @Model.TSKTSP.Wifi</p>
            <p>GPS: @Model.TSKTSP.GPS</p>
            <p>Bluetooh: @Model.TSKTSP.Bluetooth</p>
            <p>Cổng sạc: @Model.TSKTSP.Sac</p>
            <p>Jack: @Model.TSKTSP.Jack</p>
            <p>Kết nối khác: @Model.TSKTSP.KetNoiKhac</p>
            <p>Dung lượng pin: @Model.TSKTSP.DungLuongPin</p>
            <p>Loại pin: @Model.TSKTSP.LoaiPin</p>
            <p>Sạc tối đa: @Model.TSKTSP.SacToiDa</p>
            <p>Công nghệ Pin: @Model.TSKTSP.CongNghePin</p>
            <p>Bảo mật nâng cao: @Model.TSKTSP.BaoMatNC</p>
            <p>Tính năng danh bạ: @Model.TSKTSP.TinhNangDB</p>
            <p>Kháng nước bụi: @Model.TSKTSP.KhangNuocBui</p>
            <p>Xem phim: @Model.TSKTSP.XemPhim</p>
            <p>Nghe nhạc: @Model.TSKTSP.NgheNhac</p>
            <p>Thiết kế: @Model.TSKTSP.ThietKe</p>
            <p>Chất liệu: @Model.TSKTSP.ChatLieu</p>
            <p>Kích thước: @Model.TSKTSP.KichThuoc</p>
            <p>Thời điểm ra mắt: @Model.TSKTSP.ThoiDiemRaMat</p>
        </div>
        

        <p class="price">
            Giá bán: <span style="color: red; font-size: 32px;">@Model.ChiTietSP.Gia VNĐ</span>
        </p>
    </div>
</div>
